@media (max-width: 767px) and (min-width: 480px)
  .container
    width: 480px

  h1
    font-size: 50px

  h2
    font-size: 40px

@media (max-width: 480px)
  .container
    width: 96%

  h1
    font-size: 42px

  h2
    font-size: 22px

  .CardContainer
    display: none

  .MobileCardContainer
    display: block
    width: 300px
    margin: 0 auto
    position: relative

    .Event,
    .Monster,
      margin: 20px auto

    .Trivia,
    .BlankCard,
    .Roker
      z-index: 3
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0

    .ScrollButton
      margin: -20px auto 0

    .Event,
    .Monster,
    .Trivia,
    .BlankCard,
    .Roker
      
      &:hover
        transform: none

  .Instructions
    font-size: 17px
